@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #0a335c;
  scroll-behavior: smooth;
  z-index: 1;
  background: #ffffff;
}

body.dark-theme {
  background: #0a335c;
  color: #ffffff;
}

body.hidden {
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1366px;
  padding: 0 75px;
  margin: 0 auto;
  width: 100%;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #000000;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.header {
  padding: 24px 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 30px;
}

.header__logo-link {
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  display: none;
}

.header__nav-list {
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.header__nav-item {
  position: relative;
  cursor: pointer;
  color: rgba(10, 51, 92, 0.64);
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: -0.2;
  padding: 4px 8px;
}

.header__nav-item:hover,
.header__nav-item:focus {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__nav-item-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__nav-item-label span {
  margin-right: 4px;
}

.header__nav-item-link {
  color: rgba(10, 51, 92, 0.64);
}

.header__nav-item-link_bold {
  color: #0a335c;
}

.header__drop-list {
  position: absolute;
  left: 0;
  top: 35px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 20;
}

.header__drop-list.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__drop-list-item {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #0a335c;
  padding: 16px 0;
}

.header__drop-list-link {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #0a335c;
  display: block;
}

.header__burger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.update-btn {
  cursor: pointer;
}

.theme-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 0 0 0 32px;
}

.theme::after {
  position: absolute;
  content: url("../img/dark-mode.png");
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 48px;
}

.user__pic {
  cursor: pointer;
  max-width: 40px;
  width: 100%;
  height: auto;
}

.user__info {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 16px;
}

.user__name {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #ffffff;
}

.user__coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__coins-icon {
  margin-right: 4px;
}

.user__coins-count {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #ffffff;
}

.burger {
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 20;
  right: 44px;
  top: 25px;
}

.burger span,
.burger span::before,
.burger span::after {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #00acff;
  border-radius: 12px;
}

.burger span::before {
  content: '';
  top: -8px;
}

.burger span::after {
  content: '';
  top: 8px;
}

.burger.active span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active span::before {
  display: none;
}

.burger.active span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dark-theme .theme::after {
  top: 60%;
  left: 60%;
  content: url("../img/light-mode.png");
}

.dark-theme .burger span,
.dark-theme .burger span::before,
.dark-theme .burger span::after {
  background: #ffffff;
}

.dark-theme .header__logo-icon {
  fill: #ffffff;
}

.dark-theme .header__nav-item {
  color: rgba(255, 255, 255, 0.64);
}

.dark-theme .header__nav-item-link {
  color: rgba(255, 255, 255, 0.64);
}

.dark-theme .header__nav-item-link_bold {
  color: #ffffff;
}

.dark-theme .header__drop-list-item {
  color: rgba(255, 255, 255, 0.64);
}

.dark-theme .header__drop-list-link {
  color: rgba(255, 255, 255, 0.64);
}

.dark-theme .header__nav-item-icon {
  fill: rgba(255, 255, 255, 0.64);
}

.key-test {
  padding: 24px 0 0 0;
}

.key-test__container {
  padding: 0 0 0 75px;
}

.key-test__img {
  margin-right: 34px;
}

.field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  overflow: hidden;
  position: relative;
  outline: none;
}

.field__text-to-type {
  position: relative;
  font-size: 120px;
  line-height: 113.33333%;
  font-weight: 700;
  white-space: pre;
  color: #0a335c;
}

.field__fix-input {
  height: 0;
  width: 0;
  position: absolute;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  visibility: hidden;
}

.dark-theme .field__text-to-type {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__nav-item:not(:last-child) {
    margin-right: 16px;
  }
}

@media screen and (min-width: 769px) {
  .header__nav-item:hover,
  .header__nav-item:focus {
    background: #f3f5f7;
    border-radius: 8px;
  }

  .header__drop-list {
    border: 1px solid #e6ebef;
    border-radius: 8px;
    background: #ffffff;
    min-width: 200px;
    width: 100%;
  }

  .header__drop-list-item {
    padding: 16px 16px;
  }

  .header__drop-list-item:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #f3f5f7;
  }

  .dark-theme .header__nav-item:hover,
  .dark-theme .header__nav-item:focus {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
}

@media screen and (min-width: 992px) {
  .header__logo-max {
    display: block;
  }
}

@media screen and (min-width: 993px) {
  .dark-theme .header__drop-list {
    background: #0a335c;
    border: 1px solid #9fb8c6;
  }

  .dark-theme .header__drop-list-item:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 44px;
  }

  .header {
    padding: 31px 0;
  }

  .header__logo-min {
    display: block;
  }

  .theme {
    margin: 0 0 0 25px;
  }

  .user {
    margin-left: 25px;
  }

  .burger {
    top: 28px;
  }

  .key-test__container {
    padding: 0 0 0 44px;
  }

  .field__text-to-type {
    font-size: 96px;
    line-height: 116.66667%;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {
  .header__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__logo-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin: 0;
  }

  .header__nav-wrapper {
    margin-top: 40px;
    width: 100%;
    display: none;
  }

  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }

  .header__nav-item {
    font-size: 24px;
    line-height: 133.33333%;
    font-weight: 500;
    color: #ffffff;
    padding: 16px 0;
    position: relative;
    width: 100%;
  }

  .header__nav-item:not(:last-child)::before {
    position: absolute;
    content: '';
    background: #ffffff;
    opacity: 0.2;
    width: calc(100% + 44px);
    height: 2px;
    bottom: -1px;
    left: 0;
  }

  .header__nav-item-label {
    display: none;
  }

  .header__nav-item-link {
    color: #ffffff;
  }

  .header__nav-item-link_bold {
    color: #ffffff;
  }

  .header__drop-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: initial;
    top: initial;
  }

  .header__burger-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .theme-wrapper {
    position: fixed;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .user {
    display: none;
    margin: 0 0 30px 0;
    padding: 16px 0;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header.show {
    background: #00acff;
  }

  .header.show .burger span,
  .header.show .burger span::before,
  .header.show .burger span::after {
    background: #ffffff;
  }

  .header.show .header__body {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .header.show .header__logo-icon {
    fill: #ffffff;
  }

  .header.show .header__nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header.show .header__nav-item {
    color: #ffffff;
  }

  .header.show .header__nav-item-link {
    color: #ffffff;
  }

  .header.show .header__nav-item-link_bold {
    color: #ffffff;
  }

  .header.show .header__drop-list-item {
    color: #ffffff;
  }

  .header.show .header__drop-list-item:last-child {
    padding: 16px 16px 0 0;
  }

  .header.show .header__drop-list-link {
    color: #ffffff;
  }

  .header.show .theme-wrapper {
    z-index: -1;
  }

  .header.show .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header.show .user__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }

  .header__nav-item:not(:last-child)::before {
    width: calc(100% + 16px);
  }

  .burger {
    right: 16px;
  }

  .key-test__container {
    padding: 0 0 0 16px;
  }

  .field__text-to-type {
    font-size: 48px;
    line-height: 120.83333%;
    font-weight: 700;
  }
}

@media screen and (max-width: 480px) {
  .header__nav-wrapper {
    margin-top: 31px;
  }
}